.article{
    h1{
        color: #363636;
        font-size: 210%;
        line-height: 115%;
        margin: 0;
    }
    img{
        margin: 40px 0 36px 0;
        max-width: 100%;
    }
    p{
        color: #000000;
        line-height: 165%;
        margin: 0;
    }
}

.article.wrapper{
    min-width: auto;
    padding: 142px 0 0;
    width: 620px;
}

.ya-share2{
    margin: 31px 0 0 0;
}

.ya-share2__container_size_m .ya-share2__item {
    margin: 0 30px 0 0 !important;
}

@media(max-width: 850px){
    .article{
            width: 80%;
    margin-left: 4%;
        h1{
            font-size: 135%;
        }
        img{
            margin-top: 18px;
        }
    }
    .article ~ footer{
        margin: 74px 0 0;
    }
}

@media(max-width: 720px){
    .article.wrapper{
        width: 90%;
    }
    .article{
        img{
            margin-bottom: 15px;
        }
    }
}