.conditions{
    .wrapper{
        background: #4ba82e;
        color: #fff;
        font-family: $SB;
        padding: 13px 0;
        text-align: center;
    }
    .phone{
        color: #fff;
        display: inline-block;
        text-decoration: none;
    }
}

@media(max-width: 767px){
    .conditions{
        border-bottom: 1px solid #cdcdcd;
        .wrapper{
            background: none;            
            color: #000;
            padding: 13px 0 7px 0;
        }
        .phone{
            color: #000;
        }
    }
}