footer{
    background: #272727;
    color: #fff;
    font-size: 85%;
    margin: 125px 0 0 0;
    padding: 25px 0 32px 0;
    a{
        color: #ea8211;
        display: block;
        font-size: 90%;
        margin: 11px 0 0;
        text-decoration: none;
    }
    a.main{
        text-transform: uppercase;
    }
    .col-1{
        float: left;
    }
    .col-2{
        float: left;
        margin-left: 152px;
    }
    .col-3{
        float: right;
    }
    .logo{
        margin: 13px 0 13px 0;
        img{
            display: block;
        }
    }
    .contacts{
        font-size: 90%;
        a{
            color: #fff;
            display: inline;
            margin: 0;
        }
        .row{
            margin: 5px 0 0;
        }
    }
}