header{
    padding: 18px 0 17px;
    .logo{
        display: block;
        float: left;
        img{
            display: block;
        }
    }
    .lab{
        color: #ef7a21;
        float: right;
        text-align: right;
        color: #ef7a21;
        padding: 10px 0 0 0;
    }
    .lab-text{
        font-weight: 600;
    }
    .lab-phone{
        font-weight: 300;
        a{
            color: #ef7a21;
            text-decoration: none;
        }
    }
}