.menu-fixed-mobile{
    display: none;
}

@media(max-width: 767px){
    .menu-fixed-mobile{
        background: #fff;
        border-bottom: 1px solid #000;
        display: block;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        &__hamburger{
            background: #f5f5f5;
            border-left: 1px solid #000;
            cursor: pointer;
            float: right;
            padding: 17px 0 16px 0;
            position: relative;
            width: 8.8%;
            &:after{                
                background: #f5f5f5;    
                bottom: -1px;
                content: '';
                height: 1px;
                left: 0;
                position: absolute;
                width: 100%;
            }
            img{
                display: block;
                margin: 0 auto;
            }
        }
        &__left{        
            float: left;
            padding: 15px 3% 14px 3%;
            width: 84%;
        }
        &__logo-img{
            display: block;
        }
        &__logo-link{
            display: block;
            float: left;
        }
        &__phone{
            color: #000;
            display: block;
            font-family: SkodaBold,sans-serif;
            margin: 3px 0 0 0%;
            min-width: 148px;
            text-decoration: none;
            text-align: center;
        }
    }
}

@media(max-width: 600px){
    .menu-fixed-mobile{
        &__left{
            width: 82%;
        }   
        &__hamburger{
            width: 10.8%;
        }
    }
}

@media(max-width: 470px){
    .menu-fixed-mobile{ 
        &__left{
            width: 79%;
        } 
        &__hamburger{
            width: 12.8%;
        }
    }  
}