.mobile-app{
    img{
        display: block;
        margin: 75px auto 0;
        max-width: 100%;
    }
    .img{
        float: left;
        img{
            display: block;
            margin: 0;
        }
    }
    .text{
        float: left;
        margin: 0 0 0 22px;
        width: 68%;
    }
    h1{
        color: #242424;
        font-size: 220%;
        line-height: 115%;
        margin: 0 0 29px 0;
        text-transform: uppercase;
    }
    p{
        margin: 27px 0 0;
        line-height: 165%;
    }
    h3{    
        font-size: 115%;
        margin: 49px 0 0 0;
    }
    ul{
        color: #1c1c1c;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        line-height: 145%;
        margin: 22px 0 0;
        padding: 0 0 0 16px;
        position: relative;
        &:before{
            background: #27b3a7;
            border-radius: 13px;
            content: "";
            height: 6px;
            left: -1px;
            position: absolute;
            top: 9px;
            width: 6px;
        }
    }
}

.mobile-app.wrapper{
    padding: 186px 0 0;
}

@media(max-width: 850px){
    .mobile-app{
        img{
            margin-left: 0;
            width: 90%;
        }
        .img{
            display: none;
        }
        .text{
            margin-left: 0;
            width: 90%;
        }
        h1{
            font-size: 135%;
        }
        h3{
            font-size: 105%;
        }
    }
    .mobile-app ~ footer{
         margin: 74px 0 0;
    }
}