nav{
    background: #525252;
    padding: 23px 0 0 0;
    position: absolute;
    width: 100%!important;
    z-index: 6;
    ul{        
        list-style: none;
        margin: 0;
        padding: 0 0 23px 0;
        li{
            float: left;
            font-size: 85%;
            .logo{
                a{
                    display: block;
                }
                img{
                    display: block;
                    margin: -13px 0 0 0;
                }
            }
            a{
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
            }
            a.active+ul{
                display: block;
            }
            ul{
                background: #404040;
                display: none;
                left: 0;
                margin: 23px 0 0 0;
                padding: 0;                
                position: absolute;
                width: 100%;
                z-index: 2;
                li{
                    font-size: 100%;
                    margin: 0px 0 0 38px;
                    padding: 10px 0 12px 0;
                    a{
                        text-transform: none;
                    }
                }
            }
            &:first-child{
                margin: 0;
            }
        }
    }
}

.nav-2{
    ul{
        padding: 0 0 12px;
        li{
            ul{
                padding: 0;
                z-index: 2;
                li{
                    margin: 0 0 0 38px;
                }
            }
            &:first-child{
                margin: 0;
            }
        }
    }
    .lang{
        margin: -3px 0 0;
    }
    .eng{    
        margin: -3px 15px 0 0;
    }
    .pc{
        margin: 0 32px 0 0;
    }
}

.nav-container:first-child a{
    padding-left: 0;
}

.nav-container{
    a{
        padding: 23px 0 23px 50px;
        transition: 0.2s;
        &:hover{
            color: #ef7a21;
        }
    }
    a.active{
        color: #ef7a21;
    }
    ul{
        li{
            a{
                padding: 10px 0 10px 0;
            }
        }
    }
    .triangle{
        position: relative;
        top: -2px;
        transition: 0.2s;
        right: -5px;
    }
}

.pc,
.lang
{
    float: right;
}

.pc{
    font-size: 75%;
    margin: 0px 32px 0 0;
    text-transform: none;    
    a{
        padding: 12px 0px;
        text-transform: none;
        transition: 0.2s;
        &:hover{
            color: #ef7a21;
        }
    }
}

.lang{
    border: 1px solid #525252;   
    border-radius: 18px;
    font-size: 65%;
    height: 23px;
    margin: -3px 0 0 0;
    position: relative;
    width: 23px;
    a{
        position: absolute;
        text-align: center;
        top: 4px;
        transition: 0.2s;
        &:hover{
            color: #ef7a21;
        }
        width: 100%;
    }
}

.lang.active{
    border: 1px solid #fff;
    a:hover{
        color: #ffffff;
    }
}

.eng{
    margin: -3px 15px 0 0;
}

.submenuactive{
    color: #f17a0f;
}

.activesubmenu ~ ul{
    display: block !important;
    z-index: 1 !important;;
}

@media(max-width: 1040px){
    .nav-mobile{
        .wrapper{
            .wrapper{
                width: 100%;
            }
        }       
    }
}

.logo-mobile{
    display: none;
}

.logo-mobile + .nav-container a:first-child{
    padding-left: 0;
}

.nav-mobile{
    padding: 9px 0 0;    
    transition: 0.3s;
    #hamburger, .logo-mobile{
        display: block;
    }
    .logo--nav2{
        display: none;
    }
    .nav-container, .lang, .pc{
        display: none;
        margin-top: 20px;
    }
    .nav-container{
        a{
            padding-left: 0;
        }
        .triangle{
            top: -3px;
            transform: rotate(-90deg);
        }
    }
    .lang{
        bottom: 23px;
        position: absolute;
        right: 4%;
    }
    .lang.eng{
        margin-right: 40px;
    }
    ul{
        padding: 0 0 4px;
        li{
            display: block;
            float: none;
            ul{
                margin-left: -4%;
                padding-bottom: 0;
                position: relative;
                transition: 0;
                width: 108%;
                li{
                    border-bottom: 1px solid #5a5a5a;
                    margin-left: 0;
                    padding: 0 0 0 4%;
                    a{
                        display: block;
                        padding: 10px 0 12px 0;
                    }
                }
            }
        }
    }
}

.nav-mobile.active{
    padding-bottom: 24px;
}

.nav-container.active{
    .triangle{
        top: -2px;
        transform: rotate(0);
    }
}


.nav-mobile ~ .concept.wrapper,
.nav-mobile ~ .mobile-app.wrapper,
.nav-mobile ~ .processing.wrapper,
.nav-mobile ~ .marketing.wrapper,
.nav-mobile ~ .olap.wrapper,
.nav-mobile ~ .technologies.wrapper,
.nav-mobile ~ .about-company.wrapper,
.nav-mobile ~ .article
{
    padding: 90px 0 0;
}

.nav-mobile ~ .contacts-text{
    padding: 120px 0 0;
}

#hamburger{
    cursor: pointer;
    display: none;
    height: 20px;
    margin-right: -8px;
    padding: 8px;
    position: absolute;
    right: 4%;
    top: 10px;
    width: 26px;
    z-index: 1;
    &:hover .hamburger__line{
        background: #ff9f37;
    }
    .hamburger__line{
        background: #f17a0f;
        height: 2px;
        left: 8px;
        opacity: 1;
        position: absolute;
        transition: 0.2s;
        width: 26px;
        &--1{
            top: 8px;
        }
        &--2{
            top: 16px;
        }
        &--3{
            top: 24px;
        }
    }
}

#hamburger.active{
    .hamburger__line{
        &--1{
            top: 16px;
            transform: rotate(45deg);
        }
        &--2{
            opacity: 0; 
        }
        &--3{
            top: 16px;
            transform: rotate(-45deg);
        }
    }
}