doctype html
html
    head
        title ПЛАС-ТЕК | Блог
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic-ext")
    body  
        -var active = 'Статьи';
        -var submenuactive = '';
        div.fixed-menu-container
            include includes/nav-2
            include includes/blog
            include includes/footer
            include includes/copyright
                            
       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="assets/js/app.min.js")