body{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0 auto;
    min-width: 940px;
    padding: 0;
    width: 940px;
}

.clear{
    clear: both;
}

.overflow-hidden{
    overflow: hidden;
}

@font-face{
    font-family: SkodaRegular;
    src: url('../fonts/skodapro-regular-webfont.ttf');
}

@font-face{
    font-family: SkodaBold;
    src: url('../fonts/skodapro-bold-webfont.ttf');
}

.fixed-menu-container{
    position: relative;
}

@media(max-width: 1040px){
    .wrapper{
        min-width: auto;
        width: 92%;
    }
}