article.about-company.wrapper
    section.text
        h1 Компания Плас-Тек
        p Создана 2005 году.
        p С самого начала работы компании мы специализируемся на разработке и&nbsp;внедрении решений в сфере Программ лояльности, CRM и внутренних платёжных систем.
        p За время работы мы успешно внедрили более 100 проектов в самых разных областях: от федеральных розничных сетей до учебных заведений.
        p Наши администраторы проводят круглосуточный мониторинг системы и её компонентов. Ежедневно проводится резервное сохранение данных.
        p Более 20 программных продуктов - внутренняя разработка компании.
        p На данный момент Плас-Тек® является крупнейшим небанковским процессингом в России. Ежегодно мы обрабатываем более 150 миллионов транзакций для ведущих Российский и зарубежных компаний.
        p Костяк команды разработчиков составляют профессионалы с многолетним опытом работы в ведущих финансовых компаниях России и США.
    div.clear

section.company-history
    div.company-history__container
        h2 Наши новости
        div#tabs
            div#tabs-1.company-history__tab-container
                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новая программа лояльности Starbucks
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Бонусы в зоомагазинах
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Заправка с выгодой или каждый 10-й литр в подарок!
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Запущен пилот программы лояльности сети «ТАНУКИ»!
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Мобильное приложение сети "Бургер Кинг"
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Подари мне обольщение!
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear
            div#tabs-2.company-history__tab-container
                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Мобильное приложение сети "Бургер Кинг"
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Подари мне обольщение!
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear
            div#tabs-3.company-history__tab-container
                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Бонусы в зоомагазинах
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear
            div#tabs-4.company-history__tab-container
                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Заправка с выгодой или каждый 10-й литр в подарок!
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Заправка с выгодой или каждый 10-й литр в подарок!
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Заправка с выгодой или каждый 10-й литр в подарок!
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

                time 
                    | 20.07.2017
                    img.triangle(src="assets/img/triangle-orange.png" alt="треугольник")
                div.company-history__item 
                    | Новость о том что такое карта лоялности
                    img.triangle(src="assets/img/triangle-white.png" alt="треугольник")
                div.clear

            ul
                li
                    a(href="#tabs-1") 2017
                li
                    a(href="#tabs-2") 2016
                li
                    a(href="#tabs-3") 2015
                li
                    a(href="#tabs-4") 2014