article.article.wrapper
    h1 Ресторанная компания «Арпиком» объявляет о старте программы лояльности
    img(src="assets/img/article-6.jpg" alt="статья в блоге")
    p В ресторанах GOODMAN, «Филимонова и Янкель» и «Колбасофф» стартовала бонусная программа лояльности! Получив карту, гость будет накапливать бонусы, которые сможет потратить на оплату до 50% от суммы заказа  (при условии регистрации карты на сайте). Зарегистрированные клиенты имеют возможность участвовать в различных акциях и получать дополнительную выгоду.
    p Данная программа лояльности вобрала в себя опыт ведущих ресторанов,  а&nbsp;также передовые технологии в реализации подобного рода программ.
    div.ya-share2(data-services="vkontakte,facebook,twitter" data-counter="")