div.blog
    div.blog__item
        a.blog__link(href="#")
            div.blog__image-container
                img(src="assets/img/article-1.jpg" alt="картинка статьи")
                time 24 октября 2017
            h3 Ресторанная компания «Арпиком» объявляет о&nbsp;старте программы лояльности
        p С самого начала работы компании мы специализируемся на разработке и внедрении решений в&nbsp;сфере Программ лояльности, CRM и внутренних платёжных систем.
        div.author Алексей Котов

    div.blog__item
        a.blog__link(href="#")
            div.blog__image-container
                img(src="assets/img/article-2.jpg" alt="картинка статьи")
                time 31 августа 2017
            h3 Новая программа лояльности Starbucks
        p 
            | Долгожданная программа лояльности для ценителей напитков Starbucks теперь в России – аналог мировой программы MSR (My Starbucks Rewards)! Пилотный проект стартовал 9 декабря 
            nobr в&nbsp;г.&nbsp;Ростов-на-Дону. 
        div.author Ангелина Плотницкая

    div.blog__item
        a.blog__link(href="#")
            div.blog__image-container
                img(src="assets/img/article-3.jpg" alt="картинка статьи")
                time 07 мая 2017
            h3 Программа лояльности «Сливки»
        p В ресторанах «Ёлки-Палки», «Viaggio», «Маленькая Япония» и «Yamkee» стартовала новая бонусная программа лояльности. За любой заказ в ресторане можно получить карту и накапливать бонусы. 
        div.author Ангелина Плотницкая

    div.blog__item
        a.blog__link(href="#")
            div.blog__image-container
                img(src="assets/img/article-4.jpg" alt="картинка статьи")
                time 27 апреля 2017
            h3 Новая программа лояльности сети ресторанов Burger King
        p С самого начала работы компании мы специализируемся на разработке и внедрении решений в сфере Программ лояльности, CRM и внутренних платёжных систем. 
        div.author Алексей Котов

    div.blog__item
        a.blog__link(href="#")
            div.blog__image-container
                img(src="assets/img/article-5.jpg" alt="картинка статьи")
                time 11 марта 2017
            h3 Новая программа лояльности Starbucks
        p Долгожданная программа лояльности для ценителей напитков Starbucks теперь в России – аналог мировой программы MSR (My Starbucks Rewards)! Пилотный проект стартовал 9 декабря в&nbsp;г.&nbsp;Ростов-на-Дону.
        div.author Алексей Котов

    button Показать ещё