article.concept.wrapper
    section.img
        img(src="assets/img/concept-icon-1.svg" alt="написание концепции программы лояльности")
    section.text
        h1
            | Написание концепции  
            br 
            | программы лояльности
        p Наш многолетний опыт на рынке позволяет помогать с самым трудным этапом  при запуске программы лояльности – создание концепции программы.
        h3 Услуга включает блок работ:
        ul
            li Изучение и анализ специфики бизнеса Заказчика;
            li Изучение целевой аудитории программы и определение портрета клиента;
            li Определение конкурентных преимуществ программы лояльности;
            li Постановка целей и задач программы лояльности по SMART-формату;
            li Проведение экономических расчетов, определение точки безубыточности  и&nbsp;прогнозируемой прибыли от программы лояльности;
            li Подбор оптимального типа и вида будущей программы лояльности;
            li Определение оптимальных способов коммуникаций с клиентами;
            li Разработка правил работы программы лояльности;
            li Определение требований к отчетности и разработка системы отчетов;

        h3 Результатом оказанной услуги являются:
        ul
            li Экономический расчет программы;
            li Общая презентация программы для персонала;
            li Описание базовой и акционной логики программы лояльности в виде функционвльных требований.

        div.concept__result
            div.concept__result-header результатом нашей работы станет:
            div.concept__result-items
                div.concept__result-item
                    img.concept__result-img(src="assets/img/concept-icon-2.svg" alt="")
                    div.concept__result-text Увеличение прибыли
                    div.clear
                div.concept__result-item
                    img.concept__result-img(src="assets/img/concept-icon-3.svg" alt="")
                    div.concept__result-text Сокращение издержек
                    div.clear
                div.clear
    div.clear
    