footer
    div.wrapper
        div.col-1
            a.main(href="#") Продукты и решения
            a(href="#") Написание концепции
            a(href="#") Мобильные приложения
            a(href="#") Процессинг программы
            a(href="#") Маркетинговое сопровождение
            a(href="#") OLAP-отчетность
        div.col-2
            a.main(href="#") О компании
            a(href="#") Наша компания
            a(href="#") Наши проекты
            a(href="#") Наши технологии
            a(href="#") Контакты
            a.main(href="#") Статьи
        div.col-3
            a.logo
                img(src="assets/img/logo-footer.png" alt="логотип")
            div.contacts
                div.row 123557, г. Москва, Большой Тишинский пер., д. 38
                div.row 
                    | Телефон: 
                    a(href="tel:+74956053236") (495) 605-32-36 
                    a(href="tel:+74956053414") (495) 605-34-14
                div.row 
                    | E-mail: 
                    a(href="mailto:info@plas-tek.ru") info@plas-tek.ru
        div.clear
                