header
    div.wrapper
        a.logo(href="index.html") 
            img(src="assets/img/logo-header.png" alt="логотип")
        div.lab
            div.lab-text Лаборатория лояльности
            span.lab-phone
                | Телефон в России 
                a(href="tel:+74956053236")  8 (495) 605-32-36
        div.clear