div.index-projects
    h3 Более 100 реализованных проектов
    div.line
    div.index-about-us__text За время работы мы успешно внедрили более 100 проектов в самых разных областях:  от&nbsp;федеральных розничных сетей до учебных заведений

    div.row
        img(src="assets/img/index-company-1.png" alt="проект") 
        img(src="assets/img/index-company-2.png" alt="проект") 
        img(src="assets/img/index-company-3.png" alt="проект") 
        img(src="assets/img/index-company-4.png" alt="проект") 
        img(src="assets/img/index-company-5.png" alt="проект") 

    button подробнее
