div.index-slider-container
    div.index-slider
        div.swiper-wrapper
            div.index-slide.swiper-slide.swiper-slide--1
                h3 
                    span.light Отслеживать
                    br
                    | эффективность программы
                div.line
                ul
                    li Развитый аналитический модуль
                    li Гибкая отчетная система
                    li Сигментация клиентской базы
                    li История взаимоотнашений
            div.index-slide.swiper-slide.swiper-slide--2
                h3 
                    span.light Узнать клиентов
                    br
                    | и их потребности:
                div.line
                ul
                    li Регистрация клиента в системе
                    li Электронные опросы
                    li Изучение предпочтений
                    li Анализ потребительского поведения
            div.index-slide.swiper-slide.swiper-slide--3
                h3 
                    span.light Общаться с клиентом:
                div.line
                ul
                    li Email & SMS рассылки
                    li Общение через личный кабинет
                    li Поддержка работы Call-центра
                    li Сообщения на кассовом чеке
                    li Информация на дисплее POS
            div.index-slide.swiper-slide.swiper-slide--4
                h3 
                    span.light Привлечь
                    br
                    | новых клиентов:
                div.line
                ul
                    li Подарочные и Промо Карты
                    li Электронные сертификаты
                    li Приложения для Соц. Сетей
                    li Мобильные приложения
                    li Онлайн купоны
            div.index-slide.swiper-slide.swiper-slide--5
                h3 
                    span.light Поощрять
                    br
                    | лояльных клиентов:
                div.line
                ul
                    li Маркетинговые кампании
                    li Модуль поощрения «Smart Bonus»
                    li Немонетарные поощрения
                    li Гибкий механизм правил
                    li Купонный сервис