div.index-we-do
    h3 Чем мы занимаемся:
    div.index-we-do__line
    div.text Решения по автоматизации всех видов Программ лояльности и Подарочных программ, Процессинговые услуги и CRM сервисы на базе платформы Plas-Tek® CRM™.
    div.row.row--1
        a.item.item--1(href="concept.html")
            img(src="assets/img/index-icon-1.svg" alt="")
            p Разработка концепции  программы лояльности    
        a.item.item--2(href="processing.html")
            img(src="assets/img/index-icon-2.svg" alt="")
            p Процессинг  программы лояльности  с любыми условиями
        a.item.item--3(href="marketing.html")
            img(src="assets/img/index-icon-3.svg" alt="")
            p Ведение программы лояльности «под ключ»
        div.clear
    div.row.row--2
        a.item.item--4(href="mobile-app.html")
            img(src="assets/img/index-icon-4.svg" alt="")
            p Разработка и поддержка  мобильных приложений
        a.item.item--5(href="olap.html")
            img(src="assets/img/index-icon-5.svg" alt="")
            p Веб-интерфейсы программ лояльности
        div.clear