div.index-we-do
    h3 Чем мы занимаемся:
    div.index-we-do__line
    div.text Решения по автоматизации всех видов Программ лояльности и Подарочных программ, Процессинговые услуги и CRM сервисы на базе платформы Plas-Tek® CRM™.
    div.row.row--1
        div.item.item--1
            img(src="assets/img/index-icon-1.svg" alt="")
            p Разработка концепции  программы лояльности    
        div.item.item--2
            img(src="assets/img/index-icon-2.svg" alt="")
            p Процессинг  программы лояльности с любыми условиями
        div.item.item--3
            img(src="assets/img/index-icon-3.svg" alt="")
            p Ведение программы лояльности «под ключ»
        div.clear
    div.row.row--2
        div.item.item--4
            img(src="assets/img/index-icon-4.svg" alt="")
            p Разработка и поддержка  мобильных приложений
        div.item.item--5
            img(src="assets/img/index-icon-5.svg" alt="")
            p Веб-интерфейсы программ лояльности
        div.clear