div.index-about-us
    div.index-about-us__container
        h3 О нас
        div.line
        div.index-about-us__text За время работы мы успешно внедрили более 100 проектов в самых разных областях:  от&nbsp;федеральных розничных сетей до учебных заведений

        div.row
            div.item
                img(src="assets/img/index-small-icon-1.svg" alt="")
                div.bold 12 лет
                div.normal на рынке
            div.item
                img(src="assets/img/index-small-icon-2.svg" alt="")
                div.bold 24/7
                div.normal поддержка клиентов
            div.item
                img(src="assets/img/index-small-icon-3.svg" alt="")
                div.bold 500 000 +
                div.normal транзакций ежедневно

        a.button(href="about-company.html") подробнее
