article.marketing.wrapper
    section.img
        img(src="assets/img/marketing-icon-1.svg" alt="маркетинговое сопровождения")
    section.text
        h1 Маркетинговое сопровождение
        h3 Стандартные услуги включают:
        ul
            li Оценка результатов деятельности имеющейся программы;
            li Рекомендации маркетолога по корректировке программы (при необходимости);
            li Согласование целей программы на период (KPI);
            li Разработка плана активностей на период на основе RFM и LTV-анализа;
            li Добавление в программу новых акций и мероприятий (после маркетингового согласования):разработка логики акции, создание маркетинговых материалов; оценка результатов;
            li Работа с персоналом: разработка инструкций для персонала;  инструктаж персонала;
            li Тренинги по увеличению продаж; проведение мотивационных конкурсов для персонала.
            li Предоставление развернутых отчетов по достижению поставленных задач
        div.marketing__result
            img.marketing__result-img(src="assets/img/marketing-icon-2.svg" alt="результаты маркетингового сопровождения")
            div.marketing__result-text Красивая фраза про работу  и&nbsp;результаты маркетингового сопровождения в Плас-тек
            div.clear
    div.clear