div.menu-fixed-mobile
    div.menu-fixed-mobile__left
        a.menu-fixed-mobile__logo-link(href="#")
            img.menu-fixed-mobile__logo-img(src="assets/img/logo-mobile.png" alt="логотип")
        a.menu-fixed-mobile__phone(href="tel:+88002000000") 8&nbsp;800&nbsp;200-00-00
    div.menu-fixed-mobile__hamburger
        img(src="assets/img/menu-mobile.png" alt="кнопка меню")
    div.clear 