article.mobile-app.wrapper
    section.img
        img(src="assets/img/mobile-app-icon-1.svg" alt="мобильные приложения")
    section.text
        h1 Мобильные приложения
        p Статистика последних лет свидетельствует о рекордно высоких темпах роста популярности смартфонов. Казалось бы, совсем недавно основной функцией телефона была возможность позвонить или отправить сообщение. Сегодня пользователи хотят видеть в своём телефоне отражение всех граней своей социальной активности и конечно же – свою Программу лояльности! 
        p Ориентируясь на эту устойчивую тенденцию, компания Плас-Тек® с 2010 года начала развивать новое направление – разработку приложений для переносных устройств.
        p В результате мы разработали платформу Plas-Tek® Mobile™, благодаря которой сервисы Системы становятся доступны на мобильных устройствах. Это даёт возможность в кратчайшие сроки создавать клиентские приложения для iOS, Android и др., а также интегрировать функционал в уже существующие приложения.
        p Пример: приложения, реализованные для наших партнёров Шоколадница, Starbucks и Твой Дом. 
    div.clear

    img(src="assets/img/i-phone-5-s-gold.png" alt="айфон")