article.olap.wrapper
    section.img
        img(src="assets/img/olap-icon-1.png" alt="OLAP-отчетность")
    section.text
        h1 OLAP - отчетность
        p 
            | Подготовка данных для анализа может занимать много времени. 
            br 
            | Наша задача – максимально упростить и ускорить этот процесс.  
            br 
            | На практике, OLAP-отчеты могут комбинировать отчеты, созданные  
            br 
            | и на реляционных базах данных и на OLAP-кубах. 
            br 
            | Есть несколько вариантов:
        ul
            li Создать стандартный отчет на реляционной базе данных куба.
            li Создать только OLAP отчет, основанный исключительно на кубе.
            li Создать стандартный отчет на реляционной базе данных (либо на базе данных куба, либо на совсем другой базе данных) и добавить OLAP отчет, основанный  на кубе в стандартный отчет.
            li Создать несколько различных OLAP отчетов, основанных на одном или разных кубах. Такие OLAP-отчеты могу существовать сами по себе либо быть включены  в стандартный отчет, основанный на реляционной базе данных.
        img(src="assets/img/group.png" alt="olap-отчетность")
    div.clear