div.popup
    div.popup__img
    div.popup__header Специальное предложение от РОЛЬФ ЦЕНТР
    div.popup__text 
        | Заполните форму и узнайте подробности акции по телефону или звоните по бесплатному номеру 
        a(href="tel:+88002000000") 8&nbsp;800&nbsp;200-00-00
    input(placeholder="+7 (000) 000-00-00")
    button Узнать подробности