article.processing.wrapper
    section.img
        img(src="assets/img/processing-icon-1.svg" alt="процессинг программ лояльности")
    section.text
        h1
            | Процессинг
            br 
            | программ лояльности
        ul
            li Процессинг подарочных, бонусных, предоплатных виртуальных карт и абонементов
            li Личный кабинет участника программы
            li Процессинг постоянных акций
            li Поддержка интеграции с POS
            li Уведомление участников программы лояльности через смс, e-mail, чек, push
            li Отчеты о результате работы программы лояльности
            li Техническая поддержка
            li Поддержка работы с подарками, купонами и сертификатами
            li 
                | Call-центр
                h3 Программы администратора
                ul
                    li Cоздание сегментов
                    li Конструктор акций
                    li Настройка рассылок по расписанию
                h3 Службы поддержки
                ul
                    li Cоздание сегментов
                    li Онлайн-операции (замена/блокировка/отмена карт, возврат товаров, отмена операций)
    div.clear

    img.scheme(src="assets/img/processing.png" alt="процессинг программ лояльности")
    