div.swiper-container.gallery-top
    div.swiper-wrapper
        div.swiper-slide
            img(src="assets/img/projects-slide-1.png" alt="картинка")
            h3 Сеть кофеен Starbucks
            p Внедрена и успешно развивается программа лояльности на базе предоплатных карт. Проведена интеграция с кассовым ПО. Поддерживается система онлайн регистрации клиентов, личный кабинет, отчётность в режиме реального времени, электронные сертификаты и др. Разработано уникальное мобильное приложение, которое позволяет оплатить покупку с помощью iPhone / iPad, а также мобильных устройств на платформах Android и Windows phone.
        div.swiper-slide
            img(src="assets/img/projects-slide-1.1.png" alt="картинка")
            h3 Сеть кофеен Шоколадница
            p Крупнейшая в России сеть кофеен, также присутствует в странах СНГ. Основана в Москве в 2000 году. История компании уходит корнями в 1964 год, когда в Москве возле станции метро «Октябрьская» появилось кафе «Шоколадница», в ассортименте которого были блинчики с шоколадом, изюмом и орехами, горячий шоколад. В 2000 году новая «Шоколадница» появляется на месте старого одноимённого кафе, основанного в 1964 году.
        div.swiper-slide
            img(src="assets/img/projects-slide-1.2.png" alt="картинка")
            h3 Кофе Хауз
            p Основателем кофейной сети стал российский предприниматель Тимур Хайрутдинов. По сведениям, предоставленным самой кофейней, идея создания «Кофе Хауз» родилась в одной из известных кофеен Милана, а первые бармены из России обучались искусству варить кофе в Италии у ведущего бариста Джузеппе Грассе. После возвращения уже обученных молодых людей осенью 29 сентября 1999 года в Москве была открыта первая кофейня.
        div.swiper-slide
            img(src="assets/img/projects-slide-1.png" alt="картинка")
            h3 Сеть кофеен Starbucks
            p Внедрена и успешно развивается программа лояльности на базе предоплатных карт. Проведена интеграция с кассовым ПО. Поддерживается система онлайн регистрации клиентов, личный кабинет, отчётность в режиме реального времени, электронные сертификаты и др. Разработано уникальное мобильное приложение, которое позволяет оплатить покупку с помощью iPhone / iPad, а также мобильных устройств на платформах Android и Windows phone.
        div.swiper-slide
            img(src="assets/img/projects-slide-1.1.png" alt="картинка")
            h3 Сеть кофеен Шоколадница
            p Крупнейшая в России сеть кофеен, также присутствует в странах СНГ. Основана в Москве в 2000 году. История компании уходит корнями в 1964 год, когда в Москве возле станции метро «Октябрьская» появилось кафе «Шоколадница», в ассортименте которого были блинчики с шоколадом, изюмом и орехами, горячий шоколад. В 2000 году новая «Шоколадница» появляется на месте старого одноимённого кафе, основанного в 1964 году.
        div.swiper-slide
            img(src="assets/img/projects-slide-1.2.png" alt="картинка")
            h3 Кофе Хауз
            p Основателем кофейной сети стал российский предприниматель Тимур Хайрутдинов. По сведениям, предоставленным самой кофейней, идея создания «Кофе Хауз» родилась в одной из известных кофеен Милана, а первые бармены из России обучались искусству варить кофе в Италии у ведущего бариста Джузеппе Грассе. После возвращения уже обученных молодых людей осенью 29 сентября 1999 года в Москве была открыта первая кофейня.
        div.swiper-slide
            img(src="assets/img/projects-slide-1.png" alt="картинка")
            h3 Сеть кофеен Starbucks
            p Внедрена и успешно развивается программа лояльности на базе предоплатных карт. Проведена интеграция с кассовым ПО. Поддерживается система онлайн регистрации клиентов, личный кабинет, отчётность в режиме реального времени, электронные сертификаты и др. Разработано уникальное мобильное приложение, которое позволяет оплатить покупку с помощью iPhone / iPad, а также мобильных устройств на платформах Android и Windows phone.
        div.swiper-slide
            img(src="assets/img/projects-slide-1.1.png" alt="картинка")
            h3 Сеть кофеен Шоколадница
            p Крупнейшая в России сеть кофеен, также присутствует в странах СНГ. Основана в Москве в 2000 году. История компании уходит корнями в 1964 год, когда в Москве возле станции метро «Октябрьская» появилось кафе «Шоколадница», в ассортименте которого были блинчики с шоколадом, изюмом и орехами, горячий шоколад. В 2000 году новая «Шоколадница» появляется на месте старого одноимённого кафе, основанного в 1964 году.
        div.swiper-slide
            img(src="assets/img/projects-slide-1.2.png" alt="картинка")
            h3 Кофе Хауз
            p Основателем кофейной сети стал российский предприниматель Тимур Хайрутдинов. По сведениям, предоставленным самой кофейней, идея создания «Кофе Хауз» родилась в одной из известных кофеен Милана, а первые бармены из России обучались искусству варить кофе в Италии у ведущего бариста Джузеппе Грассе. После возвращения уже обученных молодых людей осенью 29 сентября 1999 года в Москве была открыта первая кофейня.
        div.swiper-slide
            img(src="assets/img/projects-slide-1.png" alt="картинка")
            h3 Сеть кофеен Starbucks
            p Внедрена и успешно развивается программа лояльности на базе предоплатных карт. Проведена интеграция с кассовым ПО. Поддерживается система онлайн регистрации клиентов, личный кабинет, отчётность в режиме реального времени, электронные сертификаты и др. Разработано уникальное мобильное приложение, которое позволяет оплатить покупку с помощью iPhone / iPad, а также мобильных устройств на платформах Android и Windows phone.
    div.swiper-button-next.swiper-button-white
    div.swiper-button-prev.swiper-button-white