article.technologies.wrapper
    section.technologies__text
        h1 Безопасность операций
        p Все транзакции между точками клиента и Центром Обработки Данных (ЦОД) Plas-Tek® кодируются в 128-bit SSL сертификатах. Никакая информация не передаётся без кодировки, мы используем признанные международные стандарты кодировки данных.
        p ЦОД работает круглосуточно. Система имеет резервный источник энергии с запасным генератором.
        p Наши администраторы проводят круглосуточный мониторинг системы и её компонентов. Ежедневно проводится резервное сохранение данных.

section.technologies__model
    div.container
        h3 Бизнес-модель
        ul
            li Заказчик не покупает программное обеспечение, а использует тот сервис,  который оно обеспечивает.
            li Заказчик не размещает софт на своих серверах, а пользуется мощностями  и&nbsp;лицензиями разработчика.
            li Заказчик платит только за сервис, обслуживание сервера и консультации.
            li Заказчик получает доступ к необходимому функционалу на сервере разработчика,  что позволяет ему сэкономить средства и быстро внедрить программу.
        img(src="assets/img/technologies-security.png" alt="картинка")

section.technologies__integration
    h3 Имеется интеграция  с&nbsp;основными кассовыми решениями:
    p Интеграция с кассовым аппаратом заказчика является самым трудоёмким,  но,&nbsp;в то же время, самым эффективным решением. Сегодня процессинговая платформа Плас-Тек® проинтегрирована с большинством популярных кассовых решений.
    div.technologies__companies
        div.technologies__row
            div.technologies__col MICROS
            div.technologies__col СЕРВИС ПЛЮС
            div.technologies__col DMINO
            div.technologies__col 1С ПРЕДПРИЯТИЕ
            div.clear
        div.technologies__row
            div.technologies__col R-KEEPER
            div.technologies__col ПИЛОТ
            div.technologies__col INVISION
            div.technologies__col КРИСТАЛ СЕРВИС
            div.clear
        div.technologies__row
            div.technologies__col IIKO
            div.technologies__col INAENICO
            div.technologies__col FIT
            div.technologies__col КАМИЛЬФО
            div.clear
        div.technologies__row
            div.technologies__col PAX
            div.technologies__col S80
            div.technologies__col VeriFone
            div.technologies__col РАРУС
            div.clear