div.thanks
    div.thanks__header спасибо за вашу заявку!
    img("asset/phone/phone.png" alt="телефон")
    p Сейчас совершается бесплатный звонок из дилерского центра на указанный вами номер.
    p Для получения информации уточните менеджеру ближайший к вам дилерский центр, модель и комплектацию автомобиля. 
    button Вернуться на сайт